@import "tailwindcss";
@import "flowbite/src/themes/default";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  box-shadow: 0 0 0 3px inset #1a1a1a;
  animation: l5 2.5s infinite;
}

.loader:after {
  animation-delay: -1.25s;
  border-radius: 0;
}

@keyframes l5 {
  0% {
    inset: 0 35px 35px 0
  }

  12.5% {
    inset: 0 35px 0 0
  }

  25% {
    inset: 35px 35px 0 0
  }

  37.5% {
    inset: 35px 0 0 0
  }

  50% {
    inset: 35px 0 0 35px
  }

  62.5% {
    inset: 0 0 0 35px
  }

  75% {
    inset: 0 0 35px 35px
  }

  87.5% {
    inset: 0 0 35px 0
  }

  100% {
    inset: 0 35px 35px 0
  }
}


@theme {
  --color-custom-dark-blue: #090f37;
  --color-custom-light-blue: #dfe7fe;
  --color-custom-medium-blue: #4B2ED8;
}